<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=AnIntroductionToDapperExtensions;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
</configuration>